body {
  background-color: #1c1d24;
  color: #deb887;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  margin-bottom: 60px;
}

header {
  background-color: #141419;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links a {
  color: #deb887; /* Replace with your desired color */
  text-decoration: none;
}

#homeBtn {
  font-size: 1em;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#homeBtn:hover {
  background: #88976d;
}

#parkBtn {
  font-size: 1em;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#parkBtn:hover {
  background: #88976d;
}

#mountainBtn {
  font-size: 1em;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#mountainBtn:hover {
  background: #88976d;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 2rem auto;
  max-width: 60rem;
}

input[type="radio"] {
  display: inline-block;
  margin-right: 0.5rem;
  accent-color: #88976d;
  margin-right: 0.5rem;
}

.radio-group {
  display: flex;
  gap: 10px; /* Adjust the gap between radio buttons */
}

.radio-group label {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
}

/* Create custom radio button */
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
  border-radius: 50%;
  border: 2px solid #88976d; /* Color for outer circle */
  background-color: transparent;
  margin-right: 5px; /* Adjust spacing between radio button and label */
  transition: border-color 0.3s ease; /* Animation for border color */
}

/* Style radio button when checked */
input[type="radio"]:checked::before {
  background-color: #88976d; /* Color for inner circle when checked */
}

/* Style radio button when hovered */
input[type="radio"]:hover::before {
  border-color: white; /* Color for outer circle on hover */
}

/* Hide default radio button label */
input[type="radio"] + label {
  display: none;
}

/* Show custom radio button label */
input[type="radio"] + label::before {
  content: attr(data-label);
  font-size: 16px; /* Adjust font size as needed */
  color: #deb887; /* Color for radio button label */
  cursor: pointer;
}

/* Animation when radio button is clicked */
input[type="radio"]:checked::before {
  animation: clickAnimation 0.3s ease;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

label {
  display: inline-block;
  margin: 0.5rem;
  width: auto;
  justify-content: space-between;
  width: 100%;
  filter: brightness(120%);
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

select {
  background-color: #1c1d24;
  border-radius: 20px;
  color: #deb887;
  font-size: 1rem;
  padding: 0.5rem;
  gap: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

select:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #deb887;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  max-width: 60rem;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn.visible {
  opacity: 1;
}

footer {
  position: sticky;
  position: 0;
  background-color: #141419;
  color: #deb887;
  padding: 1rem;
  text-align: center;
}

.park {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #deb887;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(33% - 2rem);
}

.park h3 {
  margin: 0;
}

.park h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.park a {
  color: #deb887;
  text-decoration: none;
}

.park a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .park {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 480px) {
  .park {
    width: 100%;
  }
}
